<template name="linkDetail">
  <div class="container-main">
    <p>Link management | <a href="#">delete</a> | <a href="#">hide</a></p> <!-- TODO -->
    <div class="row">
      <div>{{link}}</div>
      {{#with link}}
        <div class="col-xs-4">
        <div class="form-group">
          <label>Title</label>
          {{>fieldComponent field="title" value=title}}
        </div>
        </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label>Slug</label>
          {{>fieldComponent field="slug" value=slug}}
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label>Id</label>
          {{>fieldComponent field="_id" value=_id}}
        </div>
      </div>
      {{/with}}
    </div>
  </div>
</template>
